<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vivo</key>
	<dict>
		<key>Name</key>
		<string>Vivo (Meu Vivo)</string>
		<key>Note</key>
		<string>Blah blah</string>
		<key>WrongPasswordMessage</key>
		<string>Fuu bar</string>
	</dict>
</dict>
</plist>
